.add_to_cart{
    color: rgb(77, 51, 31);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_to_cart input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(77, 51, 31);
    border-radius: 5px;
}
.add_to_cart input[type="submit"],
.add_to_cart button[type="submit"]{
    display: block;
    margin: 10px auto;
    font-size: 18px;
    color: white;
    background-color: rgb(77, 51, 31);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.cart {
    width: 100%;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart th,
.cart td {
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(77, 51, 31);
}

.cart th {
    background-color: rgb(77, 51, 31);
    color: #fff;
}


.cart img {
    width: 10vw;
    height: auto;
    display: block;
    margin: 0 auto;
}
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 49.7%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(77, 51, 31);
    border-radius: 5px;
}
