.sidebar {
    background: rgb(77, 51, 31);
    color: rgb(225, 225, 225);
    display: flex;
    width: 17.5vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    transition: width 0.3s;
    overflow: hidden;
}
.sidebar a{
    color: white;
    text-decoration: none;
}
.sidebar div {
    margin-bottom: 2vw;
}
.sidebar.collapsed {
    width: 7.5vw;
}
.sidebar.collapsed img {
    width: 5vw;
    height: auto;
}
.sidebar.collapsed a{
    color: rgb(77, 51, 31);
    text-decoration: none;
}
.right{
    margin-left: 17.5vw ;
    justify-content: center;
    transition: width 0.3s;
}
.right.uncollapsed{
    margin-left: 7.5vw ;
    justify-content: center;
}
.right_product{
    float: left;
    width: 60vw;
    display: flex;
    margin-left: 17.5vw ;
    justify-content: center;
    transition: width 0.3s;

}
.right_product.uncollapsed{
    display: flex;
    margin-left: 7.5vw ;
    justify-content: center;

}
.toggle-button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(77, 51, 31);
    border: none;
    padding: 5px 10px;
    margin-top: auto;
}
.content_a {
    background: rgb(77, 51, 31);
    color: rgb(255, 255, 255);;
    padding: 20px;
    transition: width 0.3s;
}
.content_b {
    color: rgb(77, 51, 31);
    padding: 20px;
}
.product{
    float: left;
    margin: 2vw;
    display: inline-block;
    font-size: 21px;
    color: rgb(77, 51, 31);
    width: 10vw;
    height: 300px;
    border-radius: 25px;
    margin-top: 10px;
    outline: 3px solid rgb(77, 51, 31);
}
.product img{
    width: 200px;
    height: 140px;
}

#map {
    height: 400px;
    width: 100%;
}

