.sidebar {
    background: rgb(77, 51, 31);
    color: rgb(225, 225, 225);
    display: flex;
    width: 17.5vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    transition: width 0.3s;
    overflow: hidden;
}
.sidebar a{
    color: white;
    text-decoration: none;
}
.sidebar div {
    margin-bottom: 2vw;
}
.sidebar.collapsed {
    width: 7.5vw;
}
.sidebar.collapsed img {
    width: 5vw;
    height: auto;
}
.sidebar.collapsed a{
    color: rgb(77, 51, 31);
    text-decoration: none;
}
.sidebar.collapsed{
    color: rgb(77, 51, 31);
    text-decoration: none;
}
.right{
    margin-left: 17.5vw ;
    justify-content: center;
    transition: width 0.3s;
}
.right.uncollapsed{
    margin-left: 7.5vw ;
    justify-content: center;
}
.right_product{
    text-align: center;
    margin-left: 17.5vw ;
    justify-content: center;
    transition: width 0.3s;

}
.right_product.uncollapsed{
    margin-left: 7.5vw ;
    justify-content: center;

}
.toggle-button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(77, 51, 31);
    border: none;
    padding: 5px 10px;
    margin-top: auto;
}
.content_a {
    background: rgb(77, 51, 31);
    color: rgb(255, 255, 255);;
    padding: 20px;
    transition: width 0.3s;
}
.content_b {
    color: rgb(77, 51, 31);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_b img{
    max-width: 37.5%;
    max-height: 37.5%;
}
.switch{
    display: block;
    margin: 10px auto;
    font-size: 18px;
    color: white;
    background-color: rgb(77, 51, 31);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.switch button{
    display: block;
    margin: 10px auto;
    font-size: 18px;
    color: white;
    background-color: rgb(77, 51, 31);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.switch2{
    display: block;
    margin: 10px auto;
    font-size: 18px;
    color: rgb(77, 51, 31);
    background-color: white;
    border: solid;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.switch2 button{
    display: block;
    margin: 10px auto;
    font-size: 18px;
    color: rgb(77, 51, 31);
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.product{
    float: left;
    font-size: 21px;
    color: rgb(77, 51, 31);
    width: 220px;
    height: 363px;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    outline: 3px solid rgb(77, 51, 31);
}
.product button {
    display: block;
    margin: 10px auto;
    font-size: 18px;
    color: white;
    background-color: rgb(77, 51, 31);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.product a{
    color: white;
    text-decoration: none;
}
.product img{
    width: 220px;
    height: 154px;
}
#map {
    height: 400px;
    width: 100%;
}



